// Variables
//-------------------------------

$sans-serif: -apple-system, BlinkMacSystemFont, San Francisco Text, Helvetica, Arial, "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
$serif: Menlo, Monaco, Courier, monospace, serif;
// $base-font-family: $sans-serif;
$base-font-weight: 400;
$base-font-weight-bold: 700;

$base-font-size: 20px;
$mobile-font-size: 18px;
$lead-font-size: 1.15em;
$blog-title-size: 2.5rem;
$post-title-size: 4.25rem;
$base-line-height: 1.6;
$code-line-height: 1.4;

$footnote-font-size: 0.75em;
$magic: 1.618em;

$hero-heading-color: #fff;
$hero-date-color: #ccc;
$bg-color: #1c1c1c;
$text-color: #c4c4c4;
$text-color-light: #777;
$link-color: #f1f1f1;
$metadata-color: #666;
$post-title: #fff;
$code-bg-color: #252525;
$code-border: #222;
$table-border-color: #292929;
$table-header-color: #505050;
$shadow-color: rgba(255, 255, 255, 0.1);
$invert-logo-color: invert(1);